@import url("variables.css");

* {
  padding: 0;
  margin: 0;
  font-family: var(--Inter);
}
body {
  background-color: var(--background-body);
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

.header-section-main {
  max-width: 1360px;
  margin: 20px auto 100px auto;
}

.section-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 100px;
  height: 60px;
}

.nav-menu-item {
  list-style-type: none;
}

.nav-menu-item a {
  text-decoration: none;
  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  text-decoration: none;
  position: relative;
}

.nav-menu-item a::before {
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--border-dark);
  transition: 0.7s;
  transform: scaleX(0);
}

.nav-menu-item a:hover:before {
  transform: scaleX(1);
}

.header-nav-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-item {
  text-decoration: none;

  color: var(--text-dark, #403f3d);
  font-feature-settings: "clig" off, "liga" off;

  font-family: var(--Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  position: relative;
}

.menu-item::before {
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--border-dark);
  transition: 0.7s;
  transform: scaleX(0);
}

.menu-item:hover:before {
  transform: scaleX(1);
}

.div-main-image {
  display: flex;
  max-width: 1360px;
  padding: 100px;
  margin: 20px auto 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px;
  background: url("../image/img-hero.png"), lightgray 50% / cover no-repeat;
}

.offer {
  display: flex;
  width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.style-for-span {
  color: var(--text-accent);
  font-style: italic;
}
.offer-h1 {
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}
.offer-p {
  color: var(--text-light, #e1d4c9);
  font-feature-settings: "clig" off, "liga" off;
}
.offer-btn {
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-body);
  border: none;
  color: var(--text-dark, #403f3d);
  text-align: center;
  position: relative;
}

.offer-btn::after {
  content: ""; /* Создаем пустой псевдоэлемент */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background-image: url("../image/coffee-cup.svg"); /* Путь к вашему SVG */
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.offer-btn:hover::after {
  opacity: 1;
}

.favorite-coffee-h2 {
  color: var(--text-dark, #403f3d);
  text-align: center;
}

.favorite-coffee {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  align-self: stretch;
}

.slider {
  display: flex;
  width: 1360px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.slider-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.slider-item {
  display: flex;
  min-width: 480px;
  max-width: 1152px;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
}

.btn-left,
.btn-rigth {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  border: none;
  cursor: pointer;
  transition: background-color 0.8s ease, border 0.8s ease, color 0.8s ease;
}

.btn-left:hover,
.btn-rigth:hover {
  background-color: var(--background-container);
}

.btn-left:hover path,
.btn-rigth:hover path {
  stroke: var(--background-body);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-left {
  background: url("../image/button-icon-left.svg");
}

.btn-rigth {
  background: url("../image/button-icon-right.svg");
}

.main-dis {
  color: var(--text-dark, #403f3d);
  text-align: center;
}

.dis-dis {
  color: var(--text-dark, #403f3d);
  text-align: center;
  margin: 16px 0;
}

.cost-dis {
  color: var(--text-dark, #403f3d);
  text-align: center;
}

.discription {
  margin-top: 20px;
  width: 480px;
  max-width: 480px;
}

.image-controls {
  display: flex;
  gap: 10px;
}

.image-option {
  width: 40px;
  height: 4px;
  border: 2px solid var(--border-light);
  background-color: transparent;
  cursor: pointer;
  border-radius: 100px;
  background: var(--border-light);
  padding: 0;
}

.active {
  border: 2px solid var(--border-dark);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-items: center;
  padding: 0 40px;
}

.image-wrapper {
  display: grid;
  justify-items: center;
  gap: 40px;
  overflow: hidden;
}

.image {
  border-radius: 20px;
  width: 660px;
  height: 590px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.castr {
  width: 660px;
  height: 430px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(0.9);
}

.about-h2 {
  font-family: var(--Inter);
  margin: 100px 40px 40px 40px;
}

.mob-conteiner {
  display: flex;
  max-width: 1360px;
  align-items: center;
  gap: 100px;
  flex: 1 0 0;
  margin: auto;
}

.btn-app-store,
.btn-goole-play {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  cursor: pointer;
  background-color: var(--background-body);
  transition: background-color 1s ease, border 1s ease, color 1s ease;
}

.btn-app-store svg path,
.btn-goole-play svg path {
  transition: fill 0.3s ease; /* Transition specifically for fill color */
}

.btn-app-store:hover,
.btn-goole-play:hover {
  background-color: var(--background-container);
  border: 1px solid var(--background-body);
  color: var(--background-body);
}

.btn-app-store:hover svg path,
.btn-goole-play:hover svg path {
  fill: var(--background-body); /* Changing fill color on hover */
  transition: fill 0.3s ease; /* Adding transition for smooth color change */
}

.btn-dis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.btn-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.mobile-app {
  margin: 100px 0;
}

.offer-mobile-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.btn-p {
  font-weight: 500;
}

.contacts {
  display: flex;
  max-width: 1160px;
  padding: 100px;
  margin: auto auto 40px auto;
  align-items: center;
  gap: 100px;
  align-self: stretch;
  border-radius: 40px;
  background: var(--background-container);
}

.btn-block-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-info {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
  background-color: var(--background-container);
  cursor: pointer;
  transition: background-color 0.8s ease, border 0.8s ease, color 0.8s ease;
}

.btn-info:hover {
  border: 1px solid var(--border-dark);
  background-color: var(--background-body);
}

.btn-info:hover path {
  stroke: var(--border-dark);
}

.footer-h2 {
  color: var(--text-light, #e1d4c9);
}

.offer-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1 0 0;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  color: var(--text-light);
}

.contact-info-discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.div-info-dis {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
